# config
/.config/*
!/.config/example.yml
!/.config/default.yml.sample
!/.config/psql.env.sample
!/.config/meilisearch.env.sample
!/.config/cloudflared.env.sample
docker-compose.yml
compose.yaml

# misskey
/postgresql*
/meili_data
/redis
/files
